<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="memberMapper">
	
	<select id="memberList" resultType="member">
		SELECT
				MEM_ID memId,
				MEM_PWD memPwd,
				MEM_NICKNAME memNickname,
				MEM_EMAIL memEmail,
				MEM_ENROLL memEnroll
		  FROM
				MEMBER
	</select>
	
	<!--전체 조회 -->
	
	<!-- 회원가입 -->
	<insert id="insert" parameterType="member">
		INSERT 
		  INTO
		  		MEMBER
		  		(
		  		MEM_ID,
		  		MEM_PWD,
		  		MEM_NICKNAME,
		  		MEM_EMAIL
		  		)
		VALUSE
				
				(
				#{memId},
				#{memPwd},
				#{memNickname},
				#{memEmail}
				)
	</insert>
	<!--로그인 -->
	<select id="login" resultType="member" parameterType="member">
  		 SELECT
			      MEM_ID         memId,
			      MEM_PWD        memPwd,
			      MEM_NICKNAME   memNickname,
			      STATUS         status,
			      MEM_EMAIL      memEmail,
			      MEM_ENROLL     memEnroll,
				  MEM_CATEGORY   memCategory
		  FROM
		         MEMBER
		 WHERE
		         MEM_ID =#{memId}
		  AND    
		         MEM_CATEGORY IN ('A', 'B', 'C')
    </select>

	<!--아이디 중복체크 -->
	<select id="idCheck" parameterType="string" resultType="_int">
		SELECT 
				 COUNT(*)
		  FROM	
				 MEMBER
		 WHERE
				 MEM_ID=#{checkId}
	</select>
	<!--일반회원 정보 수정 -->
	<update id="update" parameterType="member">
		UPDATE
				MEMBER
		   SET
		   		MEM_CATEGORY ='B'
		 WHERE
				MEM_ID= #{memId}
	</update>
	
	
    <!-- 일반에서 판매자로 정보 수정  -->
    <select id="productUpdate" parameterType="member">
    	SELECT
    			M.MEM_ID,
    			M.MEM_PWD,
    			M.MEM_NICKNAME,
    			M.STATUS,
    			M.MEM_ENROLL,
    			M.MEM_CATEGORY,
    			A.ARTIST_INTRO,
    			A.ARTIST_PHONE
    	 FROM
    	 		MEMBER M
    	 JOIN
    	 		ARTIST A ON M.MEM_ID = A.MEM_ID
    	  AND
    	  		MEM_CATEGORY ='B'
    </select>
	<!-- 아이디 찾기 -->
	<select id="findId" resultType="string" parameterType="map">
        SELECT 
        		MEM_ID
          FROM
                MEMBER
         WHERE
                MEM_NICKNAME= #{memNickname}
           AND   
           		MEM_EMAIL= #{memEmail}
    </select>
	<!--비밀번호 찾기 -->
	
	<!--회원 탈퇴 -->
</mapper>










