<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kh.artspark.request.model.dao.RequestMapper">
	<sql id="selectRequest">
		SELECT
				REQ_NO reqNo,
				REQ_PURPOSE reqPurpose,
	            REQ_TITLE reqTitle,
	            REQ_CATEGORY reqCategory,
	            REQ_CONTENT reqContent,
	            REQ_DATE reqDate,
	            REQ_COUNT reqCount,
				MEM_ID memId
	</sql>
	
	<sql id="selectImgFile">
		SELECT
		        FILE_NO imgFile,
		        BOARD_TYPE boardType,
		        BOARD_NO boardNo,
		        ORIGIN_NAME originName,
		        CHANGE_NAME changeName,
		        FILE_PATH imgFilePath,
		        FILE_DATE imgFileDate
	</sql>
    
      <resultMap id="requestResultSet" type="request">
  		<id column="REQ_NO" property="reqNo" />
  		<result column="REQ_TITLE" property="reqTitle"/>
  		<result column="REQ_CONTENT" property="reqContent"/>
  		<result column="MEM_ID" property="memId"/>
  		<result column="REQ_COUNT" property="reqCount"/>
  		<result column="B_CREATE_DATE" property="createDate"/>
  		<collection resultMap="replyResultSet" property="replyList" javaType="list"/>
  	  </resultMap>

      <resultMap id="replyResultSet" type="reply">
  		<id column="REPLY_NO" property="replyNo" />
  		<result column="REPLY_CONTENT" property="replyContent"/>
  		<result column="MEM_ID" property="memId"/>
  		<result column="REPLY_DATE" property="replyDate"/>
  		<result column="REQ_NO" property="reqNo"/>
      </resultMap>
	
	<select id="requestCount" resultType="_int">
		SELECT 
				COUNT(REQ_NO)
		  FROM
		  		REQUEST
		 WHERE
		 		STATUS = 'Y' 
	</select>	
	
	<!-- 검색 시 행의 개수 -->
	<select id="requestSearchCount" parameterType="map" resultType="_int">
	    SELECT 
	       		COUNT(*)
	      FROM 
	      	    REQUEST
	     WHERE 
	            REQ_CATEGORY = #{category}
	    <if test="condition == 'writer'">
	       AND 
	            MEM_ID LIKE '%' || #{keyword} || '%'
	    </if>
	    <if test="condition == 'title'">
	       AND 
	            REQ_TITLE LIKE '%' || #{keyword} || '%'
	    </if>	    
	    <if test="condition == 'content'">
	       AND 
	            REQ_CONTENT LIKE '%' || #{keyword} || '%'
	    </if>
	       AND 
	       		STATUS = 'Y' 
	</select>
	
		<!-- 검색 결과-->
	<select id="requestFindConditionAndKeyword" parameterType="hashmap" resultType="request">
	
	<include refid="selectRequest"/>
	      FROM
	      		REQUEST
	     WHERE
	     		REQ_CATEGORY = #{category}
	   	<choose>
	   		<when test="condition == 'writer'">
	   	   AND	
	   		    MEM_ID LIKE '%' || #{keyword} || '%'
	   		</when>	   	
	   		<when test="condition == 'title'">
	   	   AND	
	   			REQ_TITLE LIKE '%' || #{keyword} || '%'
	   		</when>
			<otherwise>
		   AND	
				REQ_CONTENT LIKE '%' || #{keyword} || '%'
			</otherwise>
    	</choose>
    	   AND
    			STATUS = 'Y'	
     	 ORDER
     	    BY
     			REQ_NO DESC
	</select>
	
	<select id="requestFindAll" resultType="request" parameterType="map">
	
	<include refid="selectRequest"/>
  	  FROM
            (SELECT 
                    REQ_NO,
                    REQ_PURPOSE,
                    REQ_TITLE,
                    REQ_CATEGORY,
                  	REQ_CONTENT,
                    REQ_DATE,
                    REQ_COUNT,
                 	MEM_ID,
                    ROWNUM RNUM 
              FROM
                   	 (SELECT 
                             REQ_NO,
                             REQ_PURPOSE,
                             REQ_TITLE,
                             REQ_CATEGORY,
                             REQ_CONTENT,
                             REQ_DATE,
                             REQ_COUNT,
							 MEM_ID
                        FROM
                             REQUEST            
                       WHERE 
                       		 STATUS = 'Y'                   
                       ORDER
                          BY
                             REQ_NO DESC))               
	  WHERE
      		 RNUM BETWEEN #{startValue} AND #{endValue} 
	</select>
	<insert id="insertRequest" parameterType="request">
		INSERT
	      INTO
	      		REQUEST
	      		(
	      		REQ_NO,
	      		REQ_PURPOSE,
	      		REQ_TITLE,
	      		REQ_CATEGORY,
	      		REQ_CONTENT,
	      		REQ_DATE,
	      		REQ_COUNT,
	      		MEM_ID
	      		)
      	VALUES
      			(
      			REQUEST_SEQ.NEXTVAL,      			
      			#{reqPurpose},
      			#{reqTitle},
      			#{reqCategory},
      			#{reqContent},
      			SYSDATE,
      			DEFAULT,
      			#{memId}
      			)
	</insert>
	<insert id="insertImgFile" parameterType="ImgFile">
		INSERT
	      INTO
	      		IMG_FILE
	      		(
	      		FILE_NO,
	      		BOARD_TYPE,
	      		BOARD_NO,
	      		ORIGIN_NAME,
	      		CHANGE_NAME,
	      		FILE_PATH,
	      		FILE_DATE
	      		)
      	VALUES
      			(
      			IMG_FILE_SEQ.NEXTVAL,
      			#{boardType},
      			REQUEST_SEQ.CURRVAL,
      			#{originName},
      			#{changeName},
      			#{imgFilePath},
      			SYSDATE
      			)
	</insert>			
	<!-- 조회수 증가 -->
	<update id="increaseCount" parameterType="_int">  
		UPDATE
				REQUEST
		   SET
		   		REQ_COUNT = REQ_COUNT + 1
		 WHERE
		 		REQ_NO = #{reqNo}
	</update>
	
	<!-- 게시판 상세보기 -->
		<select id="requestFindById" parameterType="_int" resultType="request">
		<include refid="selectRequest"/>
		
		  FROM
		  		REQUEST
		 WHERE
		 		REQ_NO = #{reqNo}
	</select>
	
	<select id="findImgFileByReqNo" parameterType="int" resultType="com.kh.artspark.common.model.vo.ImgFile">
	<include refid="selectImgFile"/>
    	  FROM 
        		IMG_FILE 
    	 WHERE 
        		BOARD_NO = #{reqNo} 
      	   AND   	
      			BOARD_TYPE = '의뢰'
	</select>
	
	<!-- 글 삭제하기 -->
	<update id="deleteRequest" parameterType="_int">
		UPDATE
				REQUEST
		   SET	
		   		STATUS = 'N'
		 WHERE
		   		REQ_NO = #{reqNo}

	</update>
	
	<!-- 글 수정하기 -->
		<update id="updateRequest" parameterType="request">
		UPDATE
				REQUEST
		   SET
		   		REQ_PURPOSE = #{reqPurpose},
		   		REQ_CATEGORY = #{reqCategory},
		   		REQ_TITLE   = #{reqTitle},
		   		REQ_CONTENT = #{reqContent}
		 WHERE
		 		REQ_NO = #{reqNo}
	</update>
	
	<update id="updateImgFile" parameterType="ImgFile">
	    UPDATE 
	    		IMG_FILE
	       SET 
	            ORIGIN_NAME = #{originName},
	            CHANGE_NAME = #{changeName},
	            FILE_PATH = #{imgFilePath}
	     WHERE  BOARD_NO = #{boardNo}
	</update>	
	<!-- 댓글 목록 -->
	   <select id="selectReply" resultType="reply" parameterType="_int">
	   SELECT
	   		   REPLY_NO replyNo,
	   		   REPLY_CONTENT replyContent,
	   		   MEM_ID memId,
	   		   TO_CHAR(REPLY_DATE, 'YYYY-MM-DD') AS "replyDate"
	   	 FROM
	   	  	   REPLY
	   	WHERE
	   	   	   REQ_NO = #{reqNo}
	   	ORDER
	   	   BY
	   	 	   REPLY_NO DESC
   </select>
	
	<!-- 댓글 등록 -->
    <insert id="insertReply" parameterType="reply">
   	    INSERT
   		  INTO
   		   	    REPLY
   		  	    (
   		  	    REPLY_NO,
   		  	    REPLY_CONTENT,
   		  	    MEM_ID,
   		  	    REQ_NO
   		  	    )
	    VALUES
			    (
			    REPLY_SEQ.NEXTVAL,
			    #{replyContent},
			    #{memId},
			    #{reqNo}
			    )
	</insert>
	
   	 <select id="reqeustAndReply" parameterType="_int" resultMap="requestResultSet">
       SELECT
		        REQ.REQ_NO,
		        REQ.REQ_PURPOSE,
		        REQ.REQ_TITLE,
		        REQ.REQ_CATEGORY,
		        REQ.REQ_CONTENT,
		        REQ.REQ_DATE,
		        REQ.REQ_COUNT,
				REQ.MEM_ID,
		        REP.REPLY_NO,
		        REP.REPLY_CONTENT,
		        REP.REPLY_DATE,
		        REP.REQ_NO,
		        REP.REPLY_DATE,
		        REP.MEM_ID
   	     FROM
                REQUEST REQ
         LEFT
         JOIN 
                REPLY REP ON REQ.REQ_NO = REP.REQ_NO
        WHERE
                REQ.REQ_NO = #{reqNo}
     </select>
     
	<!-- 댓글 삭제 -->
    <delete id="deleteReply" parameterType="int">
       DELETE 
         FROM   
         		REPLY
        WHERE 	
        		REPLY_NO = #{replyNo}
    </delete>

	
</mapper>