@charset "UTF-8";
/* common.css */

a {
    text-decoration: none !important;
    color: black !important;
}

.header {
    position: sticky;
    top: 0;
    z-index: 1000;
    background-color: white;
}

.navbar-nav {
    white-space: nowrap;
}

.navbar-nav li {
    margin-left: 10px; 
}

.navbar-nav .nav-item a,
.auth-links .nav-item a {
    font-size: 14px; 
    white-space: nowrap; 
}

.form-inline .form-control {
    width: 200px; 
}

@media (max-width: 992px) {
    .navbar-nav li,
    .auth-links .nav-item a {
        margin-left: 5px; 
    }
    .navbar-nav .nav-item a,
    .auth-links .nav-item a {
        font-size: 12px; 
    }
    .form-inline .form-control {
        width: 100px; 
    }
}

@media (max-width: 1737px) {
    .navbar-nav li,
    .auth-links .nav-item a {
        margin-left: 5px; 
    }
    .navbar-nav .nav-item a,
    .auth-links .nav-item a {
        font-size: 12px; 
    }
    .form-inline .form-control {
        width: 150px; 
    }
}
